<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Vue App</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app" class="max-w-7xl mx-auto ">
    <h1 class="text-xl font-semibold text-center my-10">{{msg}}</h1>

    <h1 class="mb-5">Counter: {{count}}</h1>
    <button class="px-5 py-1 bg-green-700 text-white" @click="handleIncrement(2)">Increment</button>
    <button class="px-5 py-1 bg-red-700 text-white" @click="handleDecrement(3)">Decrement</button>

    <div class="grid grid-cols-4 gap-5 py-10">
      <div class="col-span-1">
        <form @submit="addCorse" action="">
          <label for="name">Course Name</label>
          <input required class="border w-full px-3 py-1 my-2" id="name" type="text" v-model="name">
          <label for="description">Description</label>
          <input required class="border w-full px-3 py-1 my-2" id="description" type="text" v-model="description">
          <label for="img">Image</label>
          <input required class="border w-full px-3 py-1 my-2" id="img" type="text" v-model="img">
          <label for="price">Price</label>
          <input required class="border w-full px-3 py-1 my-2" id="price" type="text" v-model="price">
          <button  class="bg-green-700 text-white py-2 w-full">Submit</button>
        </form>
      </div>
        <div v-for="course in courses" :key="course?.id" class="border">
           <img class="h-[200px]" :src="course.img" alt="">
           <div class="p-10">
             <h1 class="text-xl font-semibold">{{course.name}}</h1>
             <p class="my-3">{{course.description}}</p>
             <h3 class="my-5 font-semibold text-lg">Price: {{course.price}}</h3>

             <button class="px-5 py-1 bg-red-700 text-white" @click="handleDelete(course)">Delete</button>
           </div>
        </div>
    </div>

    

<!--   <form class="mt-5" @submit="handleSubmit" action="">
    
  <input name="name" class="outline-blue-600 border border-black" placeholder="Enter Your Name" type="text">
 <br> 
  <input name="email" class="outline-blue-600 border border-black mt-2" placeholder="Enter Your Email" type="text">
  <br>

  <button class="px-5 py-1 bg-green-700 text-white mt-5">Submit</button>
  </form>

  <div class="border w-[400px] p-5 mt-5">
         <h1 class="text-xl font-semibold">Name: {{name}}</h1>
         <h2 class="text-lg font-semibold">Email: {{email}}</h2>

  </div> -->



  <h3 class="mt-5">Enter a Number</h3>
  <input v-model.number="num" class="border px-5 py-1" type="text">
  <br>
  <div class="flex gap-2 my-5">
    <button @click="getDouble" class="px-5 py-1 bg-green-700 text-white">Get Double</button>
  <button @click="getSquare" class="px-5 py-1 bg-blue-700 text-white">Get Square</button>
  <button @click="addTen" class="px-5 py-1 bg-sky-700 text-white">Add Ten</button>
  <button @click="reset" class="px-5 py-1 bg-red-700 text-white">Reset</button>
  </div>
  <hr>

  <label class="text-lg font-semibold">Entered Number: {{num}}</label>
  <br>
  <label class="text-lg font-semibold">Result: {{result}}</label>

   <hr class="my-10">

   <div class="flex gap-3">
    <button :class="{active: activeClass == 'red'}" @click="setClass('red')" class="border px-5 py-1">Red</button>
    <button :class="{active: activeClass == 'green'}" @click="setClass('green')" class="border px-5 py-1">Green</button>
    <button :class="{active: activeClass == 'blue'}" @click="setClass('blue')" class="border px-5 py-1">Blue</button>
   </div>

   <div :class="activeClass">

   </div>



  </div>

  <script src="./app.js"></script>
</body>
</html>