<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app" class="max-w-7xl mx-auto py-20">

    <div class="flex gap-10 w-1/2">
      <input class="w-full border py-1 px-5" type="text" v-model="firstName" placeholder="Enter First Name">
      <input class="w-full border py-1 px-5" type="text" v-model="lastName" placeholder="Enter Last Name">
    </div>

    <h1 class="text-xl font-semibold mt-10">Your Full name is: {{fullName}}</h1>
    
  </div>
  <script src="./paqrt-17.js"></script>
</body>
</html>